<form class="pure-form" action="/search" method="get">
 <input type="text" name="q" value="<%= @query %>" autofocus placeholder="Enter a movie title" class="pure-input-rounded"> 
    <button name="button" type="submit" value="search" class="pure-button">Search</button>
</form>